* {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

::selection {
  color: white;
  background: mediumblue;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.screen {
  background: gainsboro;
  border-top: 3px solid darkgray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 1;
  overflow: scroll;
}

.screen p {
  padding: 0.6rem 0.8rem;
  border-bottom: 3px solid darkgray;
  line-height: 1.6rem;
}
.input {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  order: 0;
}

.input .promptField {
  padding: 0 0.8rem;
  border: none;
  font-size: inherit;
  background: darkgray;
  border: 4px solid dimgray;
  flex-grow: 1;
}

.input .promptButton {
  color: cornsilk;
  font-size: 48px;
  text-align: center;
  width: 3.2rem;
  height: 3.2rem;
  background: darkorange;
  border: 4px solid chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
}